*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 50px;
  width: 100vw;
  background-color: #0ea5e9;
  color: white;
  font-weight: bold;
}

.findBlock{
  display: flex;
  align-items: center;
}

#findText{
  font-size: 30px;
  color: #ef4444;
}

.gamePictureWrapper{
  position: relative;
  
}

#gamePicture{
  width: 1000px;
  height: auto;
  border: 2px solid #0ea5e9;
  border-radius: 10px;
}

#dropDownMenu{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;

}

.variants{
  background-color: white;
  border-radius: 5px;
}

.option{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 125px;
  height: 50px;
}

#Waldo.option{
  border-radius: 5px 5px 0px 0px;
}

#Wizard.option{
  border-radius: 0px 0px 5px 5px;
}

.option:hover{
  background-color: #0ea5e9;
  color: white;
  cursor: pointer;
}

.optionImg{
  width: auto;
  height: 30px;
  border-radius: 5px;
}

#targetBox{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: black 0px 0px 10px;
  font-size: 50px;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.found{
  opacity: 0.3;
}
