*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  height: 50px;
  width: 100vw;
  background-color: #0ea5e9;
  color: white;
  font-weight: bold;
}

.findBlock{
  display: flex;
  align-items: center;
}

#findText{
  font-size: 2rem;
  color: #ef4444;
}

.gamePictureWrapper{
  position: relative;
  
}

#gamePicture{
  width: 1000px;
  height: auto;
  border: 2px solid #0ea5e9;
  border-radius: 10px;
}

#dropDownMenu{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;

}

.variants{
  background-color: white;
  border-radius: 5px;
  color:#3f3f46
}

.option{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 125px;
  height: 50px;
}

#Waldo.option{
  border-radius: 5px 5px 0px 0px;
}

#Wizard.option{
  border-radius: 0px 0px 5px 5px;
}

.option:hover{
  background-color: #0ea5e9;
  color: white;
  cursor: pointer;
}

.optionImg{
  width: auto;
  height: 30px;
  border-radius: 5px;
  pointer-events: none;
}

#targetBox{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: black 0px 0px 10px;
  font-size: 50px;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.found{
  opacity: 0.3;
}

.popupWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  top: 50vh;
  transform: translate(-50%,-50%);
  background-color: white;
  width: 350px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #0ea5e9;
  color: #3f3f46;
  padding: 20px;
}

#popupForm{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.time{
  font-size: 30px;
  text-align: center;
  color: #3f3f46;
}

.popupButtons{
  display: flex;
  justify-content: space-between;
}

.popupButton, 
#restartButton{
  border: 0px;
  background-color: #f87171;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  color: white;
}

.popupButton:hover,
#restartButton:hover{
  background-color: #ef4444;
  cursor: pointer;
}

#popupInput{
  width: 100%;
  height: 30px;
  appearance: none;
  border: 1px solid #0ea5e9;
  border-radius: 5px;
  padding: 0px 5px;
  color: #3f3f46;
}

#popupInput:focus{
  outline: none;
  border: 2px solid #0ea5e9;
}

table{
  background-color: #f1f5f9;
  text-align: center;
  width: 500px;
  border: 2px solid #0ea5e9;
  color: #3f3f46;
  border-radius: 10px;
  padding: 15px;
  margin: 50px 0px;
}

caption{
  font-size: 40px;
  margin-bottom: 20px;
  color:#0ea5e9
}

th{
  height: 50px;
  color:#ef4444
}

td{
  height: 25px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #f1f5f9;
}

a:active {
  text-decoration: none;
}

a{
  color: white;
}

.foundMarker{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
  background-color: white;
  border: 2px solid #3f3f46;
  border-radius: 5px;
  position: absolute;
  color: #3f3f46;
  font-size: 0.8rem;
  font-weight: bold;
}

#wrongGuessText{
  color: #ef4444;
  font-size: 2rem;
}